#!/bin/bash
#set -x
# . ${RC_DIR}/aws/usw-1.rc

# export AWS_KEY_PATH; AWS_KEY_PATH=${RC_DIR}/aws/aws-digital-dev-web/cdelange/cdelange-aws-digital-dev-web-usw-1.pem

# . ${RC_DIR}/aws/aws-digital-dev-web/cdelange.rc

. ${RC_DIR}/aws/${RC_ZONE}.rc

export AWS_KEY_PATH; AWS_KEY_PATH=${RC_DIR}/aws/${RC_ACCT}/${RC_KEYP}/${RC_KEYP}-${RC_ACCT}-${RC_ZONE}.pem

. ${RC_DIR}/aws/${RC_ACCT}/${RC_USER}.rc
