#!/bin/bash

#echo subshell ${RC_PROFILE}

# Note: Sync with christo.rc
#PS1='\e[0;30m\e[47m===== \t (\! $?) \u@\H:\w \e[0m\e[48;5;56m$(parse_git_branch)\e[0;30m\e[47m$(parse_rvm_env) =====\e[m ${PSRC} ${PSOC}\n$' \
	bash --rcfile ${RC_PROFILE} -i
