#!/bin/bash
export AWS_SSH_USERNAME; AWS_SSH_USERNAME={YOUR_SSH_USERNAME}
export AWS_SSH_USERNAME; AWS_SSH_USERNAME={YOUR_SSH_USERNAME}

. ${RC_DIR}/aws.rc

export ACCT_ADMIN_EMAIL; ACCT_ADMIN_EMAIL={YOUR_ACCT_ADMIN_EMAIL}
