#!/bin/bash

export KNIFE_CLIENT_NAME; KNIFE_CLIENT_NAME={YOUR_KNIFE_CLIENT_NAME}
export KNIFE_CLIENT_KEY; KNIFE_CLIENT_KEY=${RC_DIR}/chef/server/aws.curriculum-poc/cdelange.pem

export KNIFE_VALIDATION_CLIENT_NAME; KNIFE_VALIDATION_CLIENT_NAME=chef-validator
export KNIFE_VALIDATION_KEY; KNIFE_VALIDATION_KEY=${RC_DIR}/chef/server/aws.curriculum-poc/chef-validator.pem

export KNIFE_CHEF_SERVER_INT_IP;	KNIFE_CHEF_SERVER_INT_IP={YOUR_KNIFE_CHEF_SERVER_INT_IP}
export KNIFE_CHEF_SERVER_NAME  ;	KNIFE_CHEF_SERVER_NAME={YOUR_KNIFE_CHEF_SERVER_NAME}

export KNIFE_CHEF_SERVER_URL; KNIFE_CHEF_SERVER_URL=https://${KNIFE_CHEF_SERVER_NAME}

. ${RC_DIR}/chef/server/poc.rc
 