#!/bin/bash

export KNIFE_CLIENT_NAME; KNIFE_CLIENT_NAME={YOUR_KNIFE_CLIENT_NAME}
export KNIFE_CLIENT_KEY; KNIFE_CLIENT_KEY=${RC_DIR}/chef/server/chef-imwx-com-cdelange.pem

export KNIFE_VALIDATION_CLIENT_NAME; KNIFE_VALIDATION_CLIENT_NAME=chef-validator
export KNIFE_VALIDATION_KEY; KNIFE_VALIDATION_KEY=${RC_DIR}/chef/server/chef-imwx-com-chef-validator.pem

export KNIFE_CHEF_SERVER_URL; KNIFE_CHEF_SERVER_URL=https://chef.imwx.com

. ${RC_DIR}/chef/server.rc
 