#!/bin/bash
#set -x

export AWS_ACCESS_KEY; AWS_ACCESS_KEY='{YOUR_ACCESS_KEY}'
export AWS_SECRET_KEY; AWS_SECRET_KEY='{YOUR_SECRET_KEY}'

export AWS_KEYPAIR_NAME; AWS_KEYPAIR_NAME={YOUR_KEY_NAME}
#export AWS_SSH_USERNAME; AWS_SSH_USERNAME={YOUR_SSH_USERNAME}

. ${RC_DIR}/aws/${RC_ACCT}.rc
